{% extends "layouts/main.html" %}

{% set fullAddress = data['addressLine1'] + ' ' + data['addressLine2'] + ' ' + data['addressTown'] + ' ' + data['addressCounty'] + ' ' + data['addressPostcode'] %}

{% block pageTitle %}
{{ serviceName }} – Check your answers
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Check your answers
      </h1>

      {{ govukSummaryList({
        rows: [
        {
          key: {
            text: "Destination"
          },
          value: {
            text: data['destination']
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "Destination"
              }
            ]
          }
        }
        ,        
          {
            key: {
              text: "Full name"
            },
            value: {
              text: data['fullName']
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Name"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Address"
            },
            value: {
              text: fullAddress
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Address"
                }
              ]
            }
          }
        ]
      }) }}


      <p>
        By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.
      </p>

      <form action="/confirmation" method="post" novalidate>

        {{ govukButton({
          text: "Accept and send"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
