{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }} – Start
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ serviceName }}
      </h1>

      <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam commodo arcu ut nibh pretium aliquet. Donec malesuada gravida velit eget convallis. Nulla facilisi. Mauris id tortor dui. Mauris augue velit, placerat et quam sit amet, rhoncus dapibus ante.</p>

      <ul class="govuk-list govuk-list--bullet govuk-!-padding-bottom-4">
        <li>Curabitur ultricies vel purus in elementum</li>
        <li>Vivamus vitae dolor id purus ornare accumsan</li>
        <li>Ut nec risus a eros rhoncus feugiat</li>
      </ul>

      {{ govukButton({
        text: "Start now",
        href: "destination",
        isStartButton: true
      }) }}


    </div>

  </div>

{% endblock %}
