{% extends "layouts/main.html" %}

{% block pageTitle %}
{{ serviceName }} – What is your name?
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        What is your name?
      </h1>

      {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

      {{ govukInsetText({
        text: "You are seeing this page because you chose to travel to Mars."
      }) }}      

      <form class="form" action="address" method="post">

        {{ govukInput({
          label: {
            text: "Full name"
          },
          id: "full-name",
          name: "fullName",
          autocomplete: "name",
          spellcheck: false
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
